<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SOBRE MIM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>
    Me chamo, Danilo Abreu, minha primeira formação foi biomedicina, onde trabalhei por 8 anos como analista de Microbiologia, atuando em diversos setores como controle de qualidade, desenvolvimento de produtos e pesquisa.
   </p>
   <p>Na Empresa Froneri Sorvetes Brasil fui responsável por garantir a segurança dos produtos, realizando análises e implementando melhorias nos processos de produção.  
   </p><p>Atualmente estou em transição de carreira para a área de tecnologia onde sempre me identifiquei e tive curiosidade.</p>

  <p>Tenho interesse em desenvolver minhas habilidades em web e mobile, utilizando tecnologias como
    Python, Javascript, Ionic, React e outras ferramentas modernas do mercado.
  </p>

  <ion-button expand="full" routerLink="/home">
    Voltar
  </ion-button>

</ion-content>